main{
    background-color: black;
}
h6{
    text-align: center;
    align-items: center;
    color: rgba(128, 0, 128, 0.541);
}
ul{
    list-style: none;
    text-align: center;
    
}

a{
    text-align:center;
    color:darkolivegreen;
    font-weight: 450;
}
a:hover{
    color: olivedrab;
}